* {
    font-size: 14px;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.thumb {
    padding-right: inherit;
    margin: 0;
    display: inline-block;
}

.info {
    padding: 0;
    margin: 0;
    display: inline-block;
}

.time {
    padding: 0;
    margin: 0;
    text-align: center;
}

.status {
    padding: 0;
    margin: 0;
    text-align: center;
}