{% extends "cms/base.html" %}

{% block title %}Liverary - Channel List{% endblock title %}

{% block content %}
    <h4 class="mt-4 border-bottom">Target Channel List</h4>
    <a href="{% url 'cms:live_list' %}" class="btn btn btn-outline-primary">LiveStream Table</a>
    <table class="table table-sm table-bordered">
      <thead>
        <tr>
          <th scope="col">Channel ID</th>
          <th scope="col">Channel Title</th>
        </tr>
      </thead>
      <tbody>
        {% for ch in channels %}
        <tr>
          <td>{{ ch.channelid }}</td>
          <td>{{ ch.channeltitle }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock content %}