{% extends "cms/base.html" %}
{% block title %}Liverary - Nijisanji LiveStream Table{% endblock title %}

{% block content %}
    <h4 class="mt-4 border-bottom">Nijisanji LiveStream Table<small class="text-danger"> Beta</small></h4>
    <table class="table table-sm table-borderless">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Channel / LiveStream Title</th>
          <th scope="col">Start Time</th>
          <th scope="col">Live Status</th>
        </tr>
      </thead>
      <tbody>
        {% for live in lives %}
        <tr>
          <td>
            <div class="thumb">
              <a href="{{ live.liveurl }}">
                <img src="{{ live.thumbnail }}" height="90" width="120">
              </a>
            </div>
          </td>
          <td>
            <div class="info">
              <p class="channel">
                <a href="{{ live.channelurl }}" target="_blank">{{ live.channeltitle }}</a>
              </p>
              <p class="title">
                <a href="{{ live.liveurl }}"  target="_blank">{{ live.videotitle }}</a>
              </p>
            </div>
          </td>
          <td>
            <div class="time">
              <p>{{ live.starttime|date:"n/j H:i" }}</p>
            </div>
          </td>
          <td>
            <div class="status">
              {% if live.status == 'Live' %}
              <p class="live">●Live</p>
              {% else %}
              <p>{{ live.status }}</p>
              {% endif %}
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock content %}